* {
  padding: 0;
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  padding-top: 10px;
  border-radius: 5px;
  width: 40%;
  margin: 50px auto;
  text-align: left;
  box-shadow: 10px 10px 1000px #cccccc;
}
.form-input {
  margin: 25px 20px;
}

.form-input input {
  height: 35px;
  width: 100%;
  border: #cccccc 1px solid;
  outline: none;
}

.form-input textarea,
.form-input input {
  font-size: 16px;
}
.form-input textarea {
  border: #cccccc 1px solid;
  resize: none;
  width: 100%;
}
button {
  width: 100%;
  border-radius: 5px;
  height: 45px;
  margin: 20px auto;
  background: rgb(105, 214, 129);
  color: white;
  font-size: 23px;
  text-transform: capitalize;
  text-align: center;
  border: none;
  font-weight: 100;
}
.talk-to-me {
  text-align: center;
}

.talk-to-me h1 {
  font-weight: 300;
}

.talk-to-me h2 {
  font-weight: 300;
  color: #9b9b9b;
  font-size: 14px;
}

.msg {
  font-weight: 300;
  width: 50%;
  margin: auto;
}
